<!-- <p>profil works!</p> -->


<div class="container special" style=" margin: 20px auto;" >
    <div class="border border-secondary p-3 rounded" style="padding: 5rem; background-color: #eee;">

        <!-- Action button to  added a user to connections list -->
        <h2 class="h2">Register</h2>
            
        <form  [formGroup]="userForm" (ngSubmit)="statusCreation ? onCreate() : onUpdate()">
            <div class="form-group blu-margin">
                <!-- Gives a lastName of user -->
                <input	type="text" class="form-control form-control-dark" formControlName="lastName" placeholder="Give you lastname"  id="lastName" style="margin:10px; background-color: #2c3034;color:#fff"> 

                <!-- Gives a firstName of user -->
                <input	type="text" class="form-control form-control-dark" formControlName="firstName" placeholder="Give you firstname"  id="firstName" style="margin:10px; background-color: #2c3034;color:#fff"> 

                <!-- Gives the address of user -->
                <input	type="text" class="form-control form-control-dark" formControlName="address" placeholder="Give you address"  id="address" style="margin:10px; background-color: #2c3034;color:#fff"> 

                <!-- Gives the city of user -->
                <input  type="text" class="form-control form-control-dark" formControlName="city" placeholder="Give you city"  id="city" style="margin:10px; background-color: #2c3034;color:#fff"> 

                <!-- Gives the phone of user -->
                <input	type="text" class="form-control form-control-dark" formControlName="phone" placeholder="Give you phone"  id="phone" style="margin:10px; background-color: #2c3034;color:#fff"> 

                <!-- Gives the email of user -->
                <input [class.is-invalid] = "mail?.invalid && mail?.touched"	type="email" class="form-control form-control-dark" formControlName="mail" placeholder="Give you email"  id="email" style="margin:10px; background-color: #2c3034;color:#fff"> 
                <div *ngIf="(mail?.invalid && mail?.touched) || mail?.dirty" style="margin:10px">
                    <small *ngIf="mail?.errors?.['required']" class="text-danger">A email is required</small>
                    <!--question mark(?) is a safe navigation operator-->
                    <small *ngIf="mail?.errors?.['pattern']" class="text-danger">Please provide a valid email address</small>
                  </div>

                <div class="form-button" *ngIf="statusCreation">
                    <!-- Gives the password of user -->
                    <input	type="password" class="form-control form-control-dark" formControlName="password" placeholder="Give you password"  id="password" style="margin:10px; background-color: #2c3034;color:#fff"> 

                    <!-- Gives the password of user -->
                    <input	type="password" class="form-control form-control-dark" formControlName="password" placeholder="Repeat you password"  id="password" style="margin:10px; background-color: #2c3034;color:#fff"> 

                </div>

                <div class="form-button" *ngIf="statusChangePassword">
                    <!-- Gives the password of user -->
                    <input	type="password" class="form-control form-control-dark" formControlName="password" placeholder="Give you password"  id="password" style="margin:10px; background-color: #2c3034;color:#fff"> 

                    <!-- Gives the password of user -->
                    <input	type="password" class="form-control form-control-dark" formControlName="password" placeholder="Give the new password"  id="password" style="margin:10px; background-color: #2c3034;color:#fff"> 

                    <!-- Gives the password of user -->
                    <input	type="password" class="form-control form-control-dark" formControlName="password" placeholder="Repeat the new password"  id="password" style="margin:10px; background-color: #2c3034;color:#fff"> 

                </div>

            </div>   

            <div class="col d-flex justify-content-evenly form-outline mb-4"> 
                <div class="form-button" >
                    <button type="button" class="btn btn-success" style="margin:10px" (click)="statusCreation? onCancel(): onContinue()">Cancel</button>
                </div> 
    
                <div class="form-button" *ngIf="statusCreation">
                    <button type="submit" class="btn btn-secondary" style="margin:10px">Create</button>
                </div>

                <div class="form-button" *ngIf="!statusCreation">
                    <button type="submit" class="btn btn-secondary" style="margin:10px" [disabled]="!userForm.valid || !userForm.pristine">Update</button>
                    <!-- <button type="submit" class="btn btn-secondary" style="margin:10px" [disabled]="userForm.invalid || !userForm.touched">Update</button> -->
                </div>

                <div class="form-button" *ngIf="!statusCreation">
                    <!-- <button type="button" [disabled]="true" class="btn btn-secondary" style="margin:10px" (click)="onChangePwd()">Change pwd</button> -->
                    <button type="button" class="btn btn-success" style="margin:10px" (click)="onChangePwd()">Change pwd</button>
                </div>
            </div>
    

        </form>
    </div>
</div>