
<div class="container-fluid text-center" style="margin: 20px auto;">
  <div *ngIf="!isUserLogged()">
    <h1>
        Welcom to {{title}}!!!
    </h1>
  </div>
    <!-- Icone PayMyBuddy -->
    <!-- <img class="img-fluid" src="../../assets/icone.png" style="margin-bottom: 2rem;" *ngIf="isUserLogged()"/> -->
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isUserLogged()">
  <!-- Navbar content -->
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li> <a class="nav-link" routerLink="login" routerLinkActive="active">Authentification</a> </li>
      <li> <a class="nav-link" routerLink="account/id" routerLinkActive="active">Transfer</a> </li>
      <li> <a class="nav-link" routerLink="profile" routerLinkActive="active">Profile</a> </li>
      <li> <a class="nav-link" routerLink="logoff" routerLinkActive="active">Log off</a> </li>
    </ul>
  </div>

</nav>



<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>
