
<!-- *********************************** -->
<!--                Traitement           -->
<!--                   D'un              -->
<!--             Nouveau Transfert       -->
<!-- *********************************** -->

<div class="container special" style=" margin: 20px auto;" >
    <div class="border border-secondary p-3 rounded" style="padding: 5rem; background-color: #eee;">

        <!-- Action button to  added a user to connections list -->
        <h2 class="h2">Send Money<button class="btn btn-info" style="margin-left:10px" (click)="addConnection()">Add Connection</button></h2>
            
        <form  [formGroup]="transferForm" (ngSubmit)="onSubmit()">
            <div class="form-group blu-margin">
                <!-- Selects the beneficiary of money transfer -->
                <select class="form-control" formControlName="beneficiaryUserId" style="margin:10px; background-color: #2c3034;color:#fff">
                    <option value="" selected disabled hidden>Please select a connection</option>
                    <option *ngFor="let user of account?.connections" value="{{user.userId}}" text="{{user.firstName}} {{user.lastName}}" ></option>
                </select>
                <!-- Gives a description of money transfer -->
                <input	type="text" class="form-control form-control-dark" formControlName="transferDescription" placeholder="Give a description"  id="transferDescription" style="margin:10px; background-color: #2c3034;color:#fff"> 
                <!-- Indicates amount of money transfer -->
                <input type="number" class="form-control" placeholder="0.00" step="0.01" value="0.0" formControlName="transferAmout" id="transferAmout" style="margin:10px; background-color: #2c3034;color:#fff">
                <!-- Action button to validate the transfer of money -->
                <button type="submit" class="btn btn-info" style="margin:10px">Pay</button> 
            </div>   
        </form>
    </div>
</div>


<!-- *********************************** -->
<!--                Affichage            -->
<!--                   Des               -->
<!--                Transferts           -->
<!-- *********************************** -->


<div class="container special" style=" margin: 20px auto;">
    <div class="border border-secondary p-3 rounded" style="padding: 5rem; background-color: #eee;">

        <h2 class="h2">My Transfers</h2>

        <table class="table table-dark table-hover">

            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Connection</th>
                    <th scope="col">Description</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
            <!-- <tr *ngIf=true> 
                <td colspan="4">Aucune transaction en base de données</td> 
            </tr>  -->

                <tr *ngFor="let transfer of account?.transfers; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{transfer.transferRecipient}}</td>
                    <td>{{transfer.description}}</td>
                    <td>{{transfer.amount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshTableTransfers()">
    </ngb-pagination>
  
    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshTableTransfers()">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div> -->